<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="example">
    <my-component></my-component>
    <input v-model="hello">
    <child :my-message.sync="hello"></child>
</div>
<!-- 子组件模板 -->
<template id="child-template">
    <input v-model="msg">
    <button v-on:click="notify">Dispatch Event</button>
</template>

<!-- 父组件模板 -->
<div id="events-example">
    <p>Messages: {{ messages | json }}</p>
    <child></child>
    <div id="demo" v-demo:hello.a.b="msg"></div>
</div>
<div>
    <h1>This is my component!</h1>
    <slot>
        如果没有分发内容则显示我。
    </slot>
</div>
</body>
<script src="vue.js"></script>
<script src="directive.js"></script>
</html>